#container.container-fluid.triangles
  #output.triangles
  .container
    .main-section
      .row
        #head_logo_edges
          = image_tag "/assets/logo_osf16_edges_white.svg"
      .row
        / .col-md-10.col-md-offset-1
        /   %h1.main-title.white
        /     = t('dynamic_translations.main.title')
        .col-md-6.col-md-offset-3
          %br
          %h5.normal.white
            = t('dynamic_translations.fest.thank_you')
          %br
          %br

      .row.centered
        .col-md-8.col-md-offset-2
          %p.centered.join_bouton
            %a{:href => 'https://www.gitbook.com/book/ouishare/ouishare-fest-toolkit/details', target: "_blank"}
              %button.btn.btn-embossed.btn-primary
                = t('dynamic_translations.fest.documentation')
            %br
            %br

      = form_tag home_newsletter_collect_email_path, :class => "form-inline" do
        .row.centered
          .col-md-offset-3.col-md-4
            = text_field_tag :email_address,"", :class => "form-control flat", :placeholder => t('dynamic_translations.main.placeholder_stay_posted'), :style => "width: 110%;"
          .col-md-2.submit-email-button
            = submit_tag t('dynamic_translations.main.stay_posted'), :class => "btn btn-primary"

#controls.controls
= javascript_include_tag 'triangles'

/ About the Fest
.blank_bg
  .container
    .second-section
      .row.centered
        .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
          %p.large{:style => 'margin-top: 1.8em;'}
            = t('dynamic_translations.about.landing_1')
          %br
          / %p.large
          /   = t('dynamic_translations.about.landing_2')
          / %br
      .row.centered.btn-space
        .col-md-6.col-md-offset-3
          %a{:href => 'about#_about'}
            %button.btn.btn-large.btn-primary
              = t('dynamic_translations.readmore.title')
      .row.centered.vspace#ouishare_video
        .col-md-8.col-md-offset-2{style:"position: relative"}
          %img{style:"display:block;width:100%;height:auto", src:"http://placehold.it/16x9"}
          %iframe{allowfullscreen: "", frameborder: "0", src: "//www.youtube.com/embed/zIr5t_-pRQU", style:"position:absolute;top:0;left:0;width:100%;height:100%"}


.blank_bg.vspace#news
  .container
    = render '/home/partials/news'

.blank_bg#bestof
  .container
    = render '/home/partials/videos'

%section#slideshow-container
  .banner
    %ul

      / slide 1
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/inspire-2017.jpg"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Inspire

      / slide 2
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/collaborate-2017.jpg"}/
        .caption.general_caption.pst_media14.lfl.ltl{"data-easing" => "easeOutBack", "data-end" => "5700", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "900", "data-start" => "100", "data-x" => "56", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Collaborate

      / slide 3
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/connect-2017.jpg"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Connect

      / slide 4
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/debate-2017.jpg"}/
        .caption.general_caption.pst_media14.lfl.ltl{"data-easing" => "easeOutBack", "data-end" => "5700", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "900", "data-start" => "100", "data-x" => "56", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Debate

      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/create_2016.jpg"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Create

      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/dance-2017.jpg"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Dance!




.become_partner
  .container 
    .row.centered
      .col-md-4.col-md-offset-4.col-sm-12
        .btn.btn-pink.become-partner-btn
          %a{:href => 'mailto:partners@ouisharefest.com'}
            / Become a partner
            = t('dynamic_translations.partners.button')
